<div>
    Todo listo para trabajar con websockets
    <br>
    <input type="text" id="messageInput" placeholder="Escriba su mensaje...">
    <button id="sendMessagesButton">Enviar</button>
    <div id="messagesContainer"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>